[Unit]
Description=Daemon ostrovid from JealousyATP, collecting information about online statuses.
After=network.target

[Service]
User=jealousyatp
Group=jealousyatp
WorkingDirectory=/home/jealousyatp/JealousyATP
ExecStart=/bin/sh -c '. ./secrets.sh;/bin/python3 ./ostrovid.py'
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStopSec=5
Restart=always

[Install]
WantedBy=multi-user.target
